.nav-img{
    position: relative;
}
.mobile-img{
    height: 80px;
    padding-top: 0px;
}
.nav-img img{
    padding-top: 5px;
    height: 60px;
    margin-top: 1px;
    transition: all .5s;
    cursor: pointer;
}
.nav-img img:hover{
    transform: scale(1.1);
}
.name{
    position: absolute;
    top: 10px;
    left: 10px;
}
.switch-con{
    margin-top: 20px;
    height: 30px;
    width: 60px;
    padding-left: 10px;
}
.switch-con:hover .sun-show, .switch-con:hover .moon-show {
    transform: scale(1.2);
}


.switch{
    position: relative;
    cursor: pointer;
    height: 30px;
    width: 40px;
    margin-right: 30px;
}

.switch2{
    cursor: pointer;
    right: -10px;
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.switch1{
    cursor: pointer;
    content: "";
    position: absolute;
    border-radius: 50%;
    left: -10px;
    width: 30px;
    height: 30px;
}
.sun{
    position: absolute;
    z-index: 20;
    top: 7px;
    left: -4px;
}
.moon{
    top: 7px;
    right: -3px;
    position: absolute;
    z-index: 20;

}
.sun-show{
    animation: sun-show-animation .5s;
}
.sun-hide{
    animation: sun-hide-animation .5s;
    opacity: 0;
}
@keyframes sun-show-animation {
    0%{
        opacity: 0;
        rotate: 90deg;
        padding-left: 10px;
    }
    100%{
        opacity: 1;
        padding: 0;
    }
}
@keyframes sun-hide-animation {
    0%{
        opacity: 1;
        padding: 0;
    }
    100%{
        opacity: 0;
        rotate: 180deg;
        padding-left: 10px;
    }
}
.moon-show{
    animation: moon-show-animation .5s;
}
.moon-hide{
    animation: moon-hide-animation .5s;
    opacity: 0;
}
@keyframes moon-show-animation {
    0%{
        opacity: 0;
        rotate: 180deg;
        padding-right: 10px;
    }
    100%{
        opacity: 1;
        padding: 0;
    }
}
@keyframes moon-hide-animation {
    0%{
        opacity: 1;

    }
    100%{
        opacity: 0;
        rotate: 90deg;
    }
}
.mobile-nav-con{
    height: 100vh;
    overflow: hidden;
    position: absolute;

}
.offcanvas{
    height: calc(100vh - 70px);
    scroll-behavior: none;
    height: 100vh;
    right: 0;

    
}
.offcanvas-con{
    overflow: hidden;
}
.show{
    overflow: hidden; 
    position: absolute;
    width: 100vw;
    animation: offcanvas-show 1s;
}

@keyframes offcanvas-show {
    0%{
        width: 0vw;

    }
    100%{
        width: 100vw;
    }
}
.hide{
    /* opacity: 0; */
    animation: hide-offcanvas .5s;
    position: absolute;
    width: 0vw;
    overflow: hidden;

    /* display: none; */
}
@keyframes hide-offcanvas {
    0%{
        width: 100vw;
        display: block;
    }
    100%{
        width: 0vw;
        display: none;
    }
}
.icon{
    cursor: pointer;
    
}
.show-icon{
    animation: show-icon 1s;
    width: 50px;
    height: 50px;
}
.hide-icon{
    animation: hide-icon 1s running;
    width: 0px;
    height: 50px;
    
}
@keyframes show-icon {
    0%{
        width: 0px;
        height: 50px;
    }
    100%{
        width: 50px;
        height: 50px;
    }
}
@keyframes hide-icon {
    0%{
        width: 50px;
        height: 50px;
    }
    100%{
        width: 0px;
        height: 50px;
    }
}