:root{
    --card-color : red;
}
.stack-card{
    border: none !important;
    position: relative;
    overflow: hidden;
}


.stack-card::after{
    z-index: 1;
    background-color: var(--card-color);
    content: "";
    width: 20%;
    aspect-ratio: 1/1;
    position: absolute;
    top: -27%;
    right: -7%;
    border-radius: 50%;
    transition: .5s;
}
.stack-card:hover:after{
    transition: .5s;
    width: 120%;
    height: 200%;
    top: -60%;
    border-radius: 0%;
}