
/* atom button */
.button-hover:hover .shadow1{
    animation: s1-animation .7s;
    left: 62%;
}
.button-hover:hover .shadow2{
    animation: s2-animation .7s;
    right: 56%;
}
.button-hover{
    transition: 1s;
}
.button-hover:hover, .button:target{
    /* filter: brightness(1.3); */
    transform: scale(1.2);
}
.button-hover:not(:hover) .shadow1{
    animation: s1-animation-leave .7s ;
}
.button-hover:not(:hover) .shadow2{
    animation: s2-animation-leave .7s ;
}
.button-hover{
    position: relative;
    z-index: 20;
    overflow: hidden;
    height: fit-content;
}
.button-top{
    position: relative;
    z-index: 20;
}
.shadow1{
    rotate: -45deg;
    position: absolute;
    z-index: 1; 
    top: -20px;
    left: -40px;
    content: "";
    width: 1px;
    height: 100px;
}
.shadow2{
    rotate: 45deg;
    position: absolute;
    z-index: 1; 
    top: -20px;
    right: -40px;
    content: "";
    width: 1px;
    height: 100px;
}

.con{
    padding: 5px;
}

@keyframes s1-animation {
    0%{
        left: -30px;
    }
    100%{
        left: 62%;
    }
    
}
@keyframes s1-animation-leave {
    0%{
        left: 62%;
    }
    100%{
        left: -30%;
    }
    
}

@keyframes s2-animation {
    0%{
        right: -30px;
    }
    100%{
        right: 56%;
    }
    
}

@keyframes s2-animation-leave {
    0%{
        right: 56%;
    }
    100%{
        right: -30%;
    }
    
}

/* switch */
