
.button-hover{
    position: relative;
    overflow: hidden;
    transition: 0.25s;
    z-index: 1;
}
.button-hover:hover{

    transform: scale(1.15);
}
.button-hover::after{
    animation: right-hover-animation 0.73s;
    right: 67%;
    top: -50%;
    rotate: 45deg;
    content: "";
    border-top: 3px solid red;
    border-right: 3px solid red;
    position: absolute;
    height: 200%;
    aspect-ratio: 1/1;
}
.button-hover::before{
    animation: left-hover-animation 0.73s;
    left: 67%;
    top: -50%;
    rotate: -45deg;
    content: "";
    border-left: 3px solid red;
    border-top: 3px solid red;
    position: absolute;
    height: 200%;
    aspect-ratio: 1/1;
}

@keyframes right-hover-animation {
    from{
        right: -20px;
    }
    to{
        right: 67%;
    }
}

@keyframes left-hover-animation {
    from{
        left: -20px;
    }
    to{
        left: 67%;
    }
}

.button-after-hover{
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: 0.25s;
}

.button-after-hover::after{
    animation: right-after-animation 0.43s ease;
    right: 50%;
    top: -50%;
    rotate: 45deg;
    content: "";
    border-left: 3px solid red;
    border-bottom: 3px solid red;
    position: absolute;
    height: 200%;
    aspect-ratio: 1/1;
}
.button-after-hover::before{
    animation: left-after-animation 0.43s ease;
    left: 50%;
    top: -50%;
    rotate: -45deg;
    content: "";
    border-bottom: 3px solid red;
    border-right: 3px solid red;
    position: absolute;
    height: 200%;
    aspect-ratio: 1/1;
}
@keyframes left-after-animation {
    from{
        left: -67%;
    }
    to{
        left: 50%
    }
}

@keyframes right-after-animation {
    from{
        right: -67%;
    }
    to{
        right: 50%
    }
}
.atom-button p{
    text-decoration: underline;
    border-radius: 5px;
    padding: 2px 5px;
    z-index: 10;
    position: relative;
}
.atom-button p::after, .atom-button p::before{
    display: none;
} 