@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.underline {
    width: 0px;
    height: 10px;
    border-radius: 10px;
}
.underline-animation{
    width: 150px;
    animation: underline-appear 0.5s;
}
@keyframes underline-appear {
    from{
        width: 0px;
    }
    to{
        width: 150px;
    }
}